<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img
      class="logo"
      class="logo"
      src="Logo.png"
      alt="logo"
      [routerLink]="['/home']"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/licitaciones']"
            href="#"
            >Licitaciónes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/capital']">Capital</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/educacion']"
            >Educación</a
          >
        </li>
      </ul>
      <button class="btn btn-outline-primary me-2" [routerLink]="['/registro']">
        Registro
      </button>
      <button class="btn btn-primary" [routerLink]="['/login']">
        Iniciar Sesión
      </button>
    </div>
  </div>
</nav>
