<footer class="footer">
  <div class="footer-contenido">
    <div class="footer-logo">
      <img src="Logo.png" alt="SharkCo Logo" />
    </div>

    <p class="footer-texto">Suscríbete para recibir información</p>

    <form class="suscripcion">
      <input type="email" placeholder="Your Email" required />
      <button type="submit">Subscribe</button>
    </form>

    <div class="footer-links">
      <a href="#">Careers</a>
      <span>|</span>
      <a href="#">Privacy Policy</a>
      <span>|</span>
      <a href="#">Terms & Conditions</a>
    </div>

    <p class="footer-copy">
      © 2025 Juan pablo - Valentina Restan - Alexandra Restrepo.
    </p>
  </div>
</footer>
